.nav{
    display:flex;
    justify-content: space-around;
    background-color: greenyellow;
    margin: 0 auto;
    list-style-type: disclosure-open;
    position:fixed;
    top:10px;
    left:50px;
    width:90%;
    
}

.nav > li{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 36px;
opacity: 0.6;
transition-property: all;
transition-duration: 1s;

}
.nav > li:hover{
    color:red;
    cursor: pointer;
    opacity: 1;
    
}
.nav > li:active{
    color:red;
    
    opacity: 1;
    }

    nav.wrapper{
        position:relative;
    }
